body{
    background-color: rgb(154, 186, 253);
}
img {
    position:absolute;
    left: 40%;
    right: 40%;
    bottom: 60%;
    height: 30%;
    width: 20%;
    border-radius: 50%;
}
form{
    position:absolute;
    left: 40%;
    right: 40%;
    bottom: 30%;
}
input.inp{
    width: 130%;
    border-radius: 0 10px;

}
::placeholder{
    color: rgb(104, 100, 100);
    
}
    
input.check{
    width: 12px;
    height: 12px;  
}
a.F_P{
    position:absolute;
    left: 55%;
    bottom: 14%;
}
button{
    position:absolute;
    width: 40%;
    left: 30%;
    background-color: dodgerblue;
    color: white;
    border-radius: 0 10px;
    
}