body{
    background-color:rgb(53, 216, 75);
}
img {
    position:absolute;
    left: 40%;
    right: 40%;
    bottom: 60%;
    height: 30%;
    width: 20%;
    border-radius: 50%;
}
h1{
    position:absolute;
    left: 43%;
    bottom: 53%;
    font-weight: bold;
    
}
.vl{
    
    border-left: 6px solid rgb(214, 32, 32);
    height: 220px;
    position: absolute;
    left: 37%;
    margin-left: -3px;
    bottom:18%;  
}
.vl2{
    
    border-left: 6px solid rgb(214, 32, 32);
    height: 220px;
    position: absolute;
    left: 65%;
    margin-left: -3px;
    bottom:18%;  
}


input.inp4{
    position:absolute;
    width: 26%;
    left:38%;
    bottom:26%;
}
input.inp3{
    position:absolute;
    width: 26%;
    left:38%;
    bottom:34%;
}
input.inp2{
    position:absolute;
    width: 26%;
    left:38%;
    bottom:42%;
}
input.inp1{
    position:absolute;
    width: 26%;
    left:38%;
    bottom:50%;
}
button.registerbtn{
    position:absolute;
    width: 12%;
    left: 38%;
    bottom:18%;
    background-color: dodgerblue;
    color: white;
    border-radius: 0 10px;
    
}
button.inp_log{
    position:absolute;
    width: 12%;
    left: 52%;
    bottom:18%;
    background-color: dodgerblue;
    color: white;
    border-radius: 0 10px;  
}
.container{
    position:absolute;
    width: 30%;
    bottom:1%;
    left:36%;
}
h2{
    position: absolute;
    bottom: 4%;
    left: 30%;
}
