<!DOCTYPE html>
<html>
    <head>
        <title>Registerpage!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href="{{ url_for('static',filename='registrationPage.css') }}">
       

    </head>
    <body >
       
        <img src="{{url_for('static', filename='resource directory image.png')}}">
        
        <form action="{{url_for('info')}}"method="POST">
      
            <label><input class = "inp" name = "email" type="text" placeholder="EMAIL_ID"></label><br>
            <label><input class = "inp" name = "city" type="text" placeholder="CITY"></label><br>
            <label><input class = "inp" name = "username" type="text" placeholder="USERNAME"></label><br>
            <label><input class = "inp" name = "password" type="password" placeholder="PASSWORD"></label><br>
           <label><input class = "check" type="checkbox" name="remember"><font size = "2" color = "DodgerBlue">Remember me</font></label><br>
           
            <button type="submit" class="registerbtn">REGISTER</button>
        </form>
    </body>
</html>